.gallery {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  flex-wrap: wrap;
  gap: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.simple-lightbox {
  background-color: rgba(46, 47, 66, 0.8);
}

.sl-close,
.sl-next,
.sl-prev,
.sl-counter {
  color: white !important;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  height: 200px;
}

.gallery-image {
  height: 100%;
  width: 100%;
}
